@font-face {
  font-family: 'CyberG';
  src: url('fonts/CyberG.eot?gp22wg');
  src: url('fonts/CyberG.eot?gp22wg#iefix') format('embedded-opentype'),
    url('fonts/CyberG.ttf?gp22wg') format('truetype'),
    url('fonts/CyberG.woff?gp22wg') format('woff'),
    url('fonts/CyberG.svg?gp22wg#CyberG') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CyberG' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cybg-circle-15:before {
  content: "\e945";
}

.cybg-circle-16:before {
  content: "\e946";
}

.cybg-ell-x-2-star:before {
  content: "\e947";
}

.cybg-ell-x-form:before {
  content: "\e948";
}

.cybg-ell-x-star:before {
  content: "\e949";
}

.cybg-flower-19:before {
  content: "\e94a";
}

.cybg-planet-04:before {
  content: "\e94b";
}

.cybg-planet-05:before {
  content: "\e94c";
}

.cybg-planet-06:before {
  content: "\e94d";
}

.cybg-star-22:before {
  content: "\e94e";
}

.cybg-star-23:before {
  content: "\e94f";
}

.cybg-star-24:before {
  content: "\e950";
}

.cybg-star-25:before {
  content: "\e951";
}

.cybg-star-26:before {
  content: "\e952";
}

.cybg-star-27:before {
  content: "\e953";
}

.cybg-barcode:before {
  content: "\e900";
}

.cybg-cilinder:before {
  content: "\e901";
}

.cybg-circle-01:before {
  content: "\e902";
}

.cybg-circle-02:before {
  content: "\e903";
}

.cybg-circle-03:before {
  content: "\e904";
}

.cybg-circle-04:before {
  content: "\e905";
}

.cybg-circle-05:before {
  content: "\e906";
}

.cybg-circle-06:before {
  content: "\e907";
}

.cybg-circle-07:before {
  content: "\e908";
}

.cybg-circle-08:before {
  content: "\e909";
}

.cybg-circle-09:before {
  content: "\e90a";
}

.cybg-circle-10:before {
  content: "\e90b";
}

.cybg-circle-11:before {
  content: "\e90c";
}

.cybg-circle-12:before {
  content: "\e90d";
}

.cybg-circle-13:before {
  content: "\e90e";
}

.cybg-circle-14:before {
  content: "\e90f";
}

.cybg-cross:before {
  content: "\e910";
}

.cybg-cube:before {
  content: "\e911";
}

.cybg-earth:before {
  content: "\e912";
}

.cybg-ellipse:before {
  content: "\e913";
}

.cybg-eye:before {
  content: "\e914";
}

.cybg-flame:before {
  content: "\e915";
}

.cybg-flower-01:before {
  content: "\e916";
}

.cybg-flower-02:before {
  content: "\e917";
}

.cybg-flower-03:before {
  content: "\e918";
}

.cybg-flower-04:before {
  content: "\e919";
}

.cybg-flower-05:before {
  content: "\e91a";
}

.cybg-flower-06:before {
  content: "\e91b";
}

.cybg-flower-07:before {
  content: "\e91c";
}

.cybg-flower-08:before {
  content: "\e91d";
}

.cybg-flower-09:before {
  content: "\e91e";
}

.cybg-flower-10:before {
  content: "\e91f";
}

.cybg-flower-11:before {
  content: "\e920";
}

.cybg-flower-12:before {
  content: "\e921";
}

.cybg-flower-13:before {
  content: "\e922";
}

.cybg-flower-14:before {
  content: "\e923";
}

.cybg-flower-15:before {
  content: "\e924";
}

.cybg-flower-16:before {
  content: "\e925";
}

.cybg-flower-17:before {
  content: "\e926";
}

.cybg-flower-18:before {
  content: "\e927";
}

.cybg-heart-01:before {
  content: "\e928";
}

.cybg-heart-02:before {
  content: "\e929";
}

.cybg-moon:before {
  content: "\e92a";
}

.cybg-planet-01:before {
  content: "\e92b";
}

.cybg-planet-02:before {
  content: "\e92c";
}

.cybg-planet-03:before {
  content: "\e92d";
}

.cybg-star-01:before {
  content: "\e92e";
}

.cybg-star-02:before {
  content: "\e92f";
}

.cybg-star-03:before {
  content: "\e930";
}

.cybg-star-04:before {
  content: "\e931";
}

.cybg-star-05:before {
  content: "\e932";
}

.cybg-star-06:before {
  content: "\e933";
}

.cybg-star-07:before {
  content: "\e934";
}

.cybg-star-08:before {
  content: "\e935";
}

.cybg-star-09:before {
  content: "\e936";
}

.cybg-star-10:before {
  content: "\e937";
}

.cybg-star-11:before {
  content: "\e938";
}

.cybg-star-12:before {
  content: "\e939";
}

.cybg-star-13:before {
  content: "\e93a";
}

.cybg-star-14:before {
  content: "\e93b";
}

.cybg-star-15:before {
  content: "\e93c";
}

.cybg-star-16:before {
  content: "\e93d";
}

.cybg-star-17:before {
  content: "\e93e";
}

.cybg-star-18:before {
  content: "\e93f";
}

.cybg-star-19:before {
  content: "\e940";
}

.cybg-star-20:before {
  content: "\e941";
}

.cybg-star-21:before {
  content: "\e942";
}

.cybg-star-planetari-tensen:before {
  content: "\e943";
}

.cybg-wave:before {
  content: "\e944";
}